<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de empleados</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container fluid">
        <form action="/api/empleados">
                <br>
                <div class="mb-1">
                    <label class="form-label">Nombre:</label>
                    <input type="text" id="nombre" class="form-control" required>
                </div>
                <div class="mb-1">
                    <label class="form-label">Apellido Paterno:</label>
                    <input type="text" id="apellidoPaterno" class="form-control" required>
                </div>
                <div class="mb-1">
                    <label class="form-label">Apellido Materno:</label>
                    <input type="text" id="apellidoMaterno" class="form-control" required>
                </div>
                <div class="mb-1">
                    <label class="form-label">Email:</label>
                    <input type="email" id="correo" class="form-control" required>
                </div>
                <div class="mb-1">
                    <label class="form-label">Celular:</label>
                    <input type="text"  id="celular" class="form-control" required>
                </div>
                <div class="justify-content-left" id="buttons">
                    <button id="btn_actualizar" type="submit" class="btn btn-dark mr-1"></button>Actualizar</button>
                    <button id="btn_limpiar" type="reset" class="btn btn-dark mr-1">Limpiar</button>
                </div>
            <br>
        </form>            
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

<script>
    function listaEmpleados(id=null) {
      document.querySelector('form').setAttribute('action',`/api/empleados?empleadoId=${id}`);
      fetch(document.querySelector('form').getAttribute('action'), {
            method: 'GET'
            })
            .then(res => res.json())
            .then(data => {
                if(!id){
                  document.getElementById('btn_limpiar').click()
                  const empleados = document.querySelector('#table tbody');
                  let datos = '';
                  data.forEach(empleado => {
                      datos += `<tr><td>${empleado.nombre}</td>`
                      datos += `<td>${empleado.apellidoPaterno}</td>`
                      datos += `<td>${empleado.apellidoMaterno}</td>`
                      datos += `<td>${empleado.correo}</td>`
                      datos += `<td>${empleado.celular}</td>`
                      datos += `<td><button class="btn btn-light mr-1"  onclick="listaEmpleados(${empleado.id})">Actualizar</button></td><tr>`
                  });
                  empleados.innerHTML = datos
                }else{
                    document.getElementById('nombre').value = data[0].nombre
                    document.getElementById('apellidoPaterno').value = data[0].apellidoPaterno
                    document.getElementById('apellidoMaterno').value = data[0].apellidoMaterno
                    document.getElementById('correo').value = data[0].correo
                    document.getElementById('celular').value = data[0].celular
                }
            });
    } 
    listaEmpleados();
    document.getElementById('btn_limpiar').onclick = ()=>{
      document.querySelector('form').setAttribute('action',`/api/empleados`)
    }
    document.querySelector('form').onsubmit = (event)=>{
      event.preventDefault()
      alert("Cambios guardados")
      var url = document.querySelector('form').getAttribute('action')
      var method = 'POST'

      if(url.search('empleadoId')>0){
        method = 'PUT'
      }
      fetch(document.querySelector('form').getAttribute('action'), {
        method: method,
        url : document.querySelector('form').getAttribute('action'),
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          "nombre": document.getElementById('nombre').value,
          "apellidoPaterno": document.getElementById('apellidoPaterno').value ,
          "apellidoMaterno": document.getElementById('apellidoMaterno').value,
          "correo": document.getElementById('correo').value,
          "celular": document.getElementById('celular').value
        })
      })
      .then(res => res.json())
      .then(data => {
          method = 'POST';
          document.querySelector('form').setAttribute('action',`/api/empleados`)
          listaEmpleados();
      });
    }
  </script>
</html>